<div class="form-container">
  <h2>{{ isEditMode ? 'Editar' : 'Novo' }} Convênio</h2>
  <form>
    <div class="form-group">
      <label for="nomeConvenio">Nome do Convênio:</label>
      <input type="text" id="nomeConvenio" name="nomeConvenio" required>
    </div>
    <div class="form-group">
      <label for="cnpj">CNPJ:</label>
      <input type="text" id="cnpj" name="cnpj">
    </div>
    <div class="form-group">
      <label for="telefone">Telefone de Contato:</label>
      <input type="tel" id="telefone" name="telefone">
    </div>
    <div class="form-group">
      <label for="email">Email de Contato:</label>
      <input type="email" id="email" name="email">
    </div>

    <div class="form-actions">
      <button type="submit" class="btn btn-save">Salvar</button>
      <button type="button" class="btn btn-cancel" (click)="goBack()">Cancelar</button>
    </div>
  </form>
</div>
